@font-face {
  font-family: 'mycustomfont';
  src: url('./assets/intertight-ngswv5hmafg6iuglbnmjxlsh8ag.woff2') format('woff2');
}

@import "tailwindcss";

*{
  box-sizing: border-box;
  font-family: 'mycustomfont', sans-serif;
}
