@font-face {
  font-family: 'mycustomfont';
  src: url('./assets/kanit-nkkz-go6g5txcravgwa.woff2') format('woff2');
}

@import "tailwindcss";

*{
  box-sizing: border-box;
  font-family: 'mycustomfont', sans-serif;
}
