@font-face {
  font-family: 'mycustomfont';
  src: url('./assets//syne-8vih7w4qzmvxm2bl9a.woff2') format('woff2');
}

@import "tailwindcss";

*{
  box-sizing: border-box;
  font-family: 'mycustomfont', sans-serif;
}
